body {
    background: black;
    font: normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.556);
}
div {
    margin-top: 10px;
    text-align: center;
}
div#pont {
    font-family: Luminari, fantasy;
    text-align: left;
    padding: 0px;
    height: 80px;
    width: 480px;
    background: rgb(93, 139, 200);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.500);
    border-radius: 10px;
    margin: 2px 2px;
    
    
}
input {
    background: rgb(93, 139, 200);
    font-size: 20pt;
    color: black;
    padding: 50px;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
